@page "/TodoListAdd"
@rendermode InteractiveServer
@inject ITodoService _service

<div class="tre g-col-6">
    <EditForm Model="_todoItemComponent" OnValidSubmit="SaveTodoList">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <MudTextField Label="Добавить задачу"
                      @bind-Value="_todoItemComponent.Name" 
                      For="@(() => _todoItemComponent.Name)"
                      RequiredError="!"
                      OnlyValidateIfDirty="true"/>
    </EditForm>
</div> 

@code {
    [Parameter] 
    public EventCallback<TodoItemGrpc> OnAfterItemAdded { get; set; }
    private TodoTaskCreateRequest _todoItemComponent = new();

    private async Task SaveTodoList()
    {
        await OnAfterItemAdded.InvokeAsync(await _service.TodoTaskCreateAsync(_todoItemComponent));
        _todoItemComponent = new TodoTaskCreateRequest();
    }
    
}