.tre{
    margin:auto;
    margin-top: 50px;
    width: 50%;
    text-align:center;
}
.item-p, p {
    margin-top: auto;
    margin-bottom: auto;
}
.button .text-left-align {
    justify-content: flex-start;
    text-align: left;
}
.underline {
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
    padding: 5px 0;
}